 body {
      background-color: lightblue;
      font-size: 140%;
    }
    
        .myClass {
      background-color: gray;
      color: blue
    }
    
    .sydneyrocks {
      background-color: lightpink; 
    }
